NODE_ENV=dev
MONGO_URL=mongodb+srv://muzammilsiddiqui001:3pAwfUwwL6a3f70t@cluster0.qcbwb.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
USER_TOKEN_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6Ilp5YnJhRmluYW5jZSIsImlhdCI6MTUxNjIzOTAyMn0.yQBDnD6F4anKNNujLY75UZrR8gksI0y9iZjcvijA3Pg
INFURA_PROJECT_ID=
WALLET_ADDRESS=
PRIVATE_KEY=
SMTP_HOST=smtp.example.com        # Replace with your SMTP server host
SMTP_PORT=587                     # Replace with your SMTP server port (587 for TLS, 465 for SSL)
SMTP_SECURE=false                 # Set to true for SSL, false for TLS
SMTP_USER=your-smtp-user@example.com
SMTP_PASS=your-smtp-password
